<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BasicBlocks.Global" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BasicBlocks.Global" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BasicBlocks.Global>
            <setting name="_Address" serializeAs="String">
                <value>https://alm11.europe.intranet/qcbin/start_a.jsp</value>
            </setting>
            <setting name="_Domain" serializeAs="String">
                <value>NL_BANKING</value>
            </setting>
            <setting name="_Database" serializeAs="String">
                <value />
            </setting>
            <setting name="_User" serializeAs="String">
                <value>su69ct</value>
            </setting>
            <setting name="_Password" serializeAs="String">
                <value>Dianne84</value>
            </setting>
            <setting name="_Repository" serializeAs="String">
                <value>ALM</value>
            </setting>
            <setting name="_Port" serializeAs="String">
                <value />
            </setting>
            <setting name="_Project" serializeAs="String">
                <value>SAVINGS_and_LOANS</value>
            </setting>
        </BasicBlocks.Global>
    </applicationSettings>
    <userSettings>
        <BasicBlocks.Global>
            <setting name="_ConfigFile" serializeAs="String">
                <value>config.xml</value>
            </setting>
            <setting name="_TempPath" serializeAs="String">
                <value />
            </setting>
            <setting name="_ConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="_ProcessPath" serializeAs="String">
                <value />
            </setting>
            <setting name="_TestCasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="_ResourcePath" serializeAs="String">
                <value />
            </setting>
            <setting name="_ProjectPath" serializeAs="String">
                <value />
            </setting>
        </BasicBlocks.Global>
    </userSettings>
</configuration>